*{
   margin: 0;
   padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-shadow: 6px 6px 20px white, 0 6px 20px white;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #e0e0e0;
}